html {
  font-size: 10px;
  background-image: url(/images/lights\ background.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: pointer;
}

.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.puff1 {
  width: 50px;
  height: 50px;
}

#puffs {
  margin-top: 600px;
}

.banner {
  position: absolute;
  top: 100px; 
  left: 100px; 
}

/* Style the curtains */
.curtains {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  z-index: 2; 
}

.curtain {
  flex: 1;
  height: 100%;
  background-size: cover;
  transition: transform 6s ease; /* Animation speed */
}

.curtain.left {
  background: url('https://res.cloudinary.com/dlxjksvbc/image/upload/v1697825611/Muppafones_curtain_left_asnxwr.png') no-repeat;
  background-size: cover;
  transform: translateX(0%);
}

.curtain.right {
  background: url('https://res.cloudinary.com/dlxjksvbc/image/upload/v1697825608/Muppafones_curtain_right_tblo3u.png') no-repeat;
  background-size: cover;
  transform: translateX(0%);
}

/* Styling for the ticket button */
#start-show-button {
  position: absolute;
  z-index: 3; 
  transition: all 0.3s ease-in-out;
}

#start-show-button:hover {
  transform:scale(1.1);
}

/* Styling for puffs */
.puff1 {
  z-index: 1; 
}

