html {
  font-size: 10px;
  background-image: url(/images/lights\ background.png);
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: url('/images/Muppa-mallet.png'), auto;
}


.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img.puff1 {
  width: 50px;
  height: 50px;
}

#puffs {
  margin-top: 600px;
}

.banner {
  position: absolute;
  top: 100px; 
  left: 100px; 
}